<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration
PUBLIC "-//mybatis.org/DTD Config 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
	<typeAliases>
		<typeAlias type="com.bc.vo.UsersVO" alias="users"/>
		<typeAlias type="com.bc.vo.FilesVO" alias="files"/>
		<typeAlias type="com.bc.vo.FoldersVO" alias="folders"/>
		<typeAlias type="com.bc.vo.ClassVO" alias="class"/>
		<typeAlias type="com.bc.vo.TagListVO" alias="taglist"/>
		<typeAlias type="com.bc.vo.TagVO" alias="tag"/>
		<typeAlias type="com.bc.vo.QuestionVO" alias="question"/>
		<typeAlias type="com.bc.vo.AnswerVO" alias="answer"/>
		<typeAlias type="com.bc.vo.QuestionThumbsupVO" alias="qthumb"/>
		<typeAlias type="com.bc.vo.AnswerThumbsupVO" alias="athumb"/>
		
 	</typeAliases>
 	
 	<mappers>
		<mapper resource="com/bc/dao/config/usermapper.xml"/>
		<mapper resource="com/bc/dao/config/filemapper.xml"/>
		<mapper resource="com/bc/dao/config/foldermapper.xml"/>
		<mapper resource="com/bc/dao/config/classmapper.xml"/>
		<mapper resource="com/bc/dao/config/taglistmapper.xml"/>
		<mapper resource="com/bc/dao/config/tagmapper.xml"/>
		<mapper resource="com/bc/dao/config/questionmapper.xml"/>
		<mapper resource="com/bc/dao/config/answermapper.xml"/>
		<mapper resource="com/bc/dao/config/qthumbmapper.xml"/>
		<mapper resource="com/bc/dao/config/athumbmapper.xml"/>
 	</mappers>
</configuration>






